body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background: linear-gradient(
    133deg,
    rgba(0, 0, 105, 1) 0%,
    rgba(105, 0, 0, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

h1 {
  color: white;
  width: 70vw;
  font-size: xxx-large;
  text-align: center;
}

h1 i {
  color: rgb(0 255 0);
  animation: italic-color-change 15s infinite;
}

span {
  font-size: 69px;
  text-align: center;
  animation: emoji-opacity 3s ease-in-out infinite;
}

@keyframes emoji-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes italic-color-change {
  0% {
    color: #c8ff00;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #ffffff;
  }
  60% {
    color: #ff00ee;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: #ffc0cb;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
